.box{
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0, 1);
}

.box1{ background: #1abc9c; }
.box2{ background: #3498db; }
.box3{ background: #9b59b6; }
.box4{ background: #34495e; }
.box5{ background: #f1c40f; }
.box6{ background: #e67e22; }
.box7{ background: #e74c3c; }
.box8{ background: #bdc3c7; }
.box9{ background: #2ecc71; }
.box10{ background: #16ae85; }
.box11{ background: #2ecc71; }
.box12{ background: #bdc3c7; }
.box13{ background: #e74c3c; }
.box14{ background: #e67e22; }
.box15{ background: #f1c40f; }
.box16{ background: #34495e; }
.box17{ background: #1abc9c; }


.container{
    display:flex;
    border: 10px solid mistyrose;
    min-height:100vh;
    flex-wrap:wrap;
    align-content:space-between;
}